<form [formGroup]="registerForm">

	<h1>
		Register
	</h1>

	<div class="form-group">
		<label for="name">Name</label>
		<input
			id="name"
			class="form-control"
			type="text"
			formControlName="name"
		>
	</div>

	<div class="form-group">
		<label for="email">E-mail</label>
		<input
			id="email"
			class="form-control"
			type="email"
			formControlName="email"
		>
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input
			id="password"
			class="form-control"
			type="password"
			formControlName="password"
		>
	</div>

	<button
		class="btn btn-primary"
		(click)="registerUser()"
	>
		Register
	</button>

</form>